.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--bg-header-footer);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2% 4%;
}
.logo {
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}
.logo a {
    text-decoration: none;
    color: black;
}
.nav {
    margin-right: 13%;

}

.logoutButton {
    padding: 5px 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.442);
    position: absolute;
    top: 35%;
    right: 2%;
}