body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 0;
}


/******************* Variables ******************/

:root {
  --text-color: rgb(179, 68, 68);
  --bg-header-footer: rgb(179, 166, 166);
  --active-navLink: rgb(211, 55, 55);
  --text-hover: rgb(84, 24, 24);
}