.a {
    text-decoration: none;
    color: var(--text-color);
    padding: 8%;
    font-size: 1.1rem;
    font-weight: 600;
}
.a:hover {
    border-bottom: 1px solid var(--text-color);
    transition: all .1s;
}
.active {
    color: var(--active-navLink)
}